body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.col-centered {
    margin: 0 auto;
    float: none;
}
.timer-hide {
    margin-top: 10px;
}
.time-container {
    text-align: center;
    font: {
        size: 20px;
        
    }
}
