body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.col-centered {
    margin: 0 auto;
    float: none;
}
#time-container {
    text-align: center;
    color: rgb(0, 110, 255);
}
#timer {
    font: {
        size: 10em;
    }
}
#task-input {
    margin: {
        bottom: 10px;
    }
}
