@media screen and (max-width: 768px) {
  .task {
    font-size: 5px;
  }
}
.task {
    @extend %background-yellow;
    height: 40px;
    font-size: 25px;
    margin: {
      top: 10px;
      bottom: 5px
    }
    .buttons {
      float:right;
    }

}
